<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="app">
    <!--登录表单-->
    <el-form ref="form" :model="loginUser" label-width="80px">
        <el-form-item label="账号">
            <el-input v-model="loginUser.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input v-model="loginUser.password"></el-input>
        </el-form-item>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <template>
            <el-radio v-model="adminOrUser" label="0">用户</el-radio>
            <el-radio v-model="adminOrUser" label="1">管理员</el-radio>
        </template>
        <el-form-item>
            <el-button type="primary" @click="login">登录</el-button>
            <el-button @click="register">注册</el-button>
        </el-form-item>
    </el-form>
</div>
</body>

<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<!--<script type="text/javascript" src="../js/jquery.min.js"></script>-->

<script src="../js/axios-0.18.0.js"></script>

<script>

    var vue = new Vue({
        el: '#app',
        data: {
            //登录信息
            loginUser: {username: "", password: ""},
            //0为用户登陆  1为管理员登录
            adminOrUser: -1,
        },
        methods: {
            login() {
                if (this.adminOrUser == 0) {
                    this.userLogin();
                }
                if (this.adminOrUser == 1) {
                    this.adminLogin();
                }
            },
            //管理员登录
            adminLogin() {
                axios.post("/manages/login", this.loginUser).then((res) => {
                    if (res.data.code == 20051) {
                        this.$message.success('登陆成功~');

                        setTimeout(() => {
                            window.location.href = "/pages/admin/admin_main.html";
                        }, 1000);

                    } else {
                        this.$message.error('密码错误!请重试!');
                    }
                });
            },
            //用户登陆
            userLogin() {

            },
            //用户注册
            register() {
                console.log(this.loginUser);

                axios.post("http://localhost:8080/users/register", this.loginUser).then((res) => {
                    // 注册成功
                    if (res.data.code == 20061) {
                        this.$message.success('注册成功, 请重新登录');
                        setTimeout(() => {
                            location.reload();
                        },1000);
                        /*setTimeout(() => {
                            window.location.href = "/pages/user/user_main.html";
                        }, 1000);*/
                    } else {

                    }
                })
            }

        }
    })
</script>
</html>